//
//  Base.xcconfig
//  LMCrypto
//
//  Created by Sukrit Chatmeeboon on 24/9/2567 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// URL Endpoint
BASE_URL = https:/$()/api.coinranking.com

// Find your key at https://account.coinranking.com/dashboard/api
API_KEY = xxx // specify your coin ranking api key
